@mixin sp {
    @media screen and (max-width: 768px) {
        @content;
    }
}

@import 'variables';

body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .content-wrapper, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-footer, body:not(.sidebar-mini-md):not(.sidebar-mini-xs):not(.layout-top-nav) .main-header {
    margin-left: 0 !important;
  }
  
  .content-wrapper {
    background-color: #fff !important;
  }